name: Java CI

on:
  push:
    branches: 
      - main
      - 'feature/**'
  pull_request:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # 2.2: Configuration du JDK 8
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      # 2.2: Compilation de l'application
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package

      # 2.3: Intégration des rapports de tests
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: target/**/*.xml

      # 2.4: Sauvegarde du fichier .jar (Artefact)
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-app-1.0
          path: target/*.jar

      # 2.5: Préparation de Docker
      - name: Install Docker
        uses: docker/setup-buildx-action@v1
        with:
          install: true

      # 2.5: Construction de l'image Docker
      - name: Docker build
        run: |
          docker build .
